/* ***************************************
Common style start
***************************************** */
/* Logo font family link */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    padding: 0%;
    margin:0%;
}
img {
    width: 100%;
    height: auto;
}
.full-height {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    font-size: clamp(1rem, 2vw, 1.9rem);
}
.button {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 25px;
  color: #ffffff;
  background-color: #244c88;
  letter-spacing: 3px;
}
.button:hover {
    color: #ffffff;
  }
.btn-icon {
    width: 25px;
    height: auto;
    margin-left: 10px;
    transition: 0.3s;
}
.button:hover .btn-icon {
    transform: translateX(10px);
}
.bg-color-scheme {
    /* background-color: #25d675; */
    background-color: #244c88;
}
.color-scheme {
    /* color: #25d675; */
    color: #244c88;
}
.white {
    color: white;
}
.big-heading {
    font-size: clamp(1.8rem, 3.5vw, 3.8rem);
}
.padding {
    padding: 130px 0px;
}
/* ***************************************
Common style end
***************************************** */






/************************************
Header css start
************************************/
header {
    width: 100%;
    clear: both;
}
.header-area {
    width: 100%;
    padding: 15px 80px;
    /* min-height: 80px; */
    display: flex;
}
.logo-container {
    width: 40%;
    float: left;
}
.nav-item-container {
    width: 60%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-item-container ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-align: right;
}
.nav-item-container ul li {
    display: inline-block;
    margin-left: 60px;
    font-family: 'Noto Sans', sans-serif;
}
.nav-item-container ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    position: relative;
}
.nav-item-container ul li a::after {
   content: "";
   position: absolute;
   width: 0%;
   height: 4px;
   background-color: #ffffff;
   bottom: -15px;
   left: 0%;
   transition: 0.4s;
}
.nav-item-container ul li a:hover::after {
   width: 100%;
 }
.logo {
    width: 70px;
    height: 70px;
}
.logo-name {
    font-family: 'Merienda', cursive;
    color: #ffffff;
    font-size: clamp(1rem, 4vw, 2.3rem);
    font-weight: bold;
}

/************************************
Header css end
************************************/







/************************************
side-panel css Start
************************************/
.side-panel  {
    width: 0;
    position: fixed;
    z-index: 3;
    height: 100vh;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side-panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .side-panel a:hover {
    color: #f1f1f1;
  }
  
  .side-panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .open-btn {
    font-size: 35px;
    cursor: pointer;
    background-color: #11111100;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 30px;
    display: none;
  }
  .close-btn {
      font-size: 30px;
      top: 0px;
      left: 0px;
    }
/************************************
Sidebar css start
************************************/







/* ***************************************
Hero style start
***************************************** */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 2;
}
.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.6;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.hero h1, .network h3 {
    font-weight: bold;
}
.hero h3 {
    font-weight: 300;
}
.hero h1 {
    margin-bottom: 50px;
    /* font-family: 'Merienda', cursive; */
}
.hero h3 {
    font-size: clamp(1rem, 2vw, 1.8rem);
}
/* ***************************************
Hero style end
***************************************** */






/* ***************************************
Network style start
***************************************** */
.network h3 {
   font-size: clamp(1.5rem, 3.5vw, 3rem);
}
.network h3 span {
    font-family: 'Merienda', cursive;
}
/* ***************************************
Network style end
***************************************** */







/* ***************************************
Community style start
***************************************** */
.community h1 {
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #244c88;
    color: #fff;
    border-radius: 50%;
}
.community h4 {
    font-family: 'Merienda', cursive;
    color: #244c88;
}

.creation {
    color: #fff;
}
/* ***************************************
Community style end
***************************************** */










/* ***************************************
Responsive design start
***************************************** */
@media only screen and (max-width: 800px) {
    .open-btn {
        display: block;
        top: 12px;
        font-size: 30px;
    }
    .header-area {
        padding: 10px 50px;
    }
    .nav-item-container {
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .padding {
        padding: 100px 0px;
    }
    .hero {
        text-align: center;
    }
    .open-btn {
        top: 15px;
        right: 20px;
        font-size: 25px;
    }
    .header-area {
        padding: 20px 25px;
    }
    .logo-container {
        width: 70%;
    }
    .nav-item-container {
        width: 30%;
    }
  }
/* ***************************************
Responsive design end
***************************************** */
